# Terraform hidden folders
.terraform/

# Local state files
*.tfstate
*.tfstate.backu
*.tfstate
*.pem



# Terraform plan output
*.out

# Lock file (optional, keeps version pinning)
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate.backup
# Binary files
*.exe

# Shell script output
*.log

#file key pair
.pem